@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

:root {
  font-family: 'Press Start 2P', Inter, system-ui, Avenir;
  font-weight: 400;
  font-style: normal;

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-black: #242424;
  --leonardo-blue: #0f83d7;
  --michelangelo-orange: #ffa500;
  --donatello-purple: #b71cc6;
  --raphael-red: #d5440c;
  --turtle-green: #68ba0a;

  --selected-color: var(--leonardo-blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-shadow: 4px 4px 0px var(--leonardo-blue);
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.selected-label {
  width: 66px;
  height: 24px;
  visibility: hidden;
  position: relative;
  border: 3px solid var(--turtle-green);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0px 1px black;
  text-shadow: 2px 1px 0px black;
  background-color: var(--selected-color);
  text-align: right;
  padding-inline-end: 5px;

  &::after {
    content: '1';
    position: absolute;
    left: 8px;
    bottom: -0px;
    font-size: 1.6rem;
    text-shadow: 2px 1px 0px black;
    animation: font-size-animation 1.2s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 15px;
    border-style: solid;
    border-color: var(--turtle-green) transparent transparent;
  }
}

@keyframes font-size-animation {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 1rem;
  }
}

.selected .selected-label {
  visibility: visible;
}

#leonardo button {
  background-image: url('../Leonardo/tile000.png');
  &::before {
    background: var(--leonardo-blue);
  }
}
#leonardo.selected button {
  background-image: url('../Leonardo/tile001.png');
  &::before {
    content: '';
  }
}

#donatello button {
  background-image: url('../Donatello/tile000.png');
  &::before {
    background: var(--donatello-purple);
  }
}
#donatello.selected button {
  background-image: url('../Donatello/tile001.png');
  &::before {
    content: '';
  }
}

#michaelangelo button {
  background-image: url('../Michelangelo/tile000.png');
  &::before {
    background: var(--michelangelo-orange);
  }
}
#michaelangelo.selected button {
  background-image: url('../Michelangelo/tile001.png');
  &::before {
    content: '';
  }
}

#raphael button {
  background-image: url('../Raphael/tile000.png');
  &::before {
    background: var(--raphael-red);
  }
}
#raphael.selected button {
  background-image: url('../Raphael/tile001.png');
  &::before {
    content: '';
  }
}

.character-card button {
  position: relative;
  aspect-ratio: 72 / 130;
  width: 12vw;
  background-color: transparent;
  border: none;
  cursor: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: none;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    transform: skewX(-15deg);
  }
}

.character-card button:focus,
button:focus-visible {
  outline: none;
}

.selected-turtle {
  width: 14rem;
}
/*
.players-container {
  width: 80%;
  display: flex;
  justify-content: center;
}

.player {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: white solid 6px;
  border-radius: 5px;
  outline: #0f83d7 solid 3px;
  outline-offset: -7px;
  text-shadow: 2px 1px 0px var(--leonardo-blue);

  & .lives-meter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2px;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right, var(--leonardo-blue), #fff);

    & span {
      border: none;
      display: block;
      width: 3px;
      height: 40px;
      background-color: var(--background-black);
      z-index: 2;
    }
  }
} */
