@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

:root {
  font-family: 'Press Start 2P', Inter, system-ui, Avenir;
  font-weight: 400;
  font-style: normal;

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --leonardo-blue: #0f83d7;
  --michelangelo-orange: #ffa500;
  --donatello-purple: #b71cc6;
  --raphael-red: #d5440c;
  --turtle-green: #68ba0a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-shadow: 5px 1px 0px var(--leonardo-blue);
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.selected-label {
  width: 66px;
  height: 24px;
  visibility: hidden;
  position: relative;
  border: 3px solid var(--turtle-green);
  background-color: var(--donatello-purple);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    animation: font-size-animation 1s infinite ease-in-out;
    font-size: 1rem;
    text-anchor: middle;
    vertical-align: top;
  }

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 15px;
    border-style: solid;
    border-color: var(--turtle-green) transparent transparent;
  }
}

@keyframes font-size-animation {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 1.5rem;
  }
}

.selected .selected-label {
  visibility: visible;
}

#leonardo button {
  background-image: url('Leonardo/tile000.png');
  &::before {
    background: var(--leonardo-blue);
  }
}
#leonardo.selected button {
  background-image: url('Leonardo/tile001.png');
  &::before {
    content: '';
  }
}

#donatello button {
  background-image: url('Donatello/tile000.png');
  &::before {
    background: var(--donatello-purple);
  }
}
#donatello.selected button {
  background-image: url('Donatello/tile001.png');
  &::before {
    content: '';
  }
}

#michaelangelo button {
  background-image: url('Michelangelo/tile000.png');
  &::before {
    background: var(--michelangelo-orange);
  }
}
#michaelangelo.selected button {
  background-image: url('Michelangelo/tile001.png');
  &::before {
    content: '';
  }
}

#raphael button {
  background-image: url('Raphael/tile000.png');
  &::before {
    background: var(--raphael-red);
  }
}
#raphael.selected button {
  background-image: url('Raphael/tile001.png');
  &::before {
    content: '';
  }
}

.character-card button {
  position: relative;
  aspect-ratio: 72 / 130;
  width: 12vw;
  background-color: transparent;
  border: none;
  cursor: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: none;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    transform: skewX(-15deg);
  }
}

.character-card button:focus,
button:focus-visible {
  outline: none;
}

/* .players-container {
  width: 100%;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: white solid 6px;
  border-radius: 5px;
  outline: #0f83d7 solid 3px;
  outline-offset: -7px;
}
.lives-meter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  & span {
    border: none;
    display: block;
    width: 10px;
    height: 40px;
    background-color: #0f83d7;
  }

  & span:nth-child(2) {
    background-color: #2a91db;
  }

  & span:nth-child(3) {
    background-color: #449fe0;
  }
  & span:nth-child(4) {
    background-color: #5face4;
  }
  & span:nth-child(5) {
    background-color: #7abae9;
  }
  & span:nth-child(6) {
    background-color: #94c8ed;
  }
  & span:nth-child(7) {
    background-color: #afd6f2;
  }
  & span:nth-child(8) {
    background-color: #cae3f6;
  }
  & span:nth-child(9) {
    background-color: #e4f1fb;
  }
  & span:nth-child(10) {
    background-color: #ffffff;
  }
} */
